body {
   font-family: "Ubuntu", sans-serif;
}

/* Headers */
header {
   background: #555;
   color: #f3f3f3;
}
.main-header {
   height: 8vh;
   position: absolute;
   top: 0;
   width: 100%;
}

.lower-header {
   height: 8vh;
   position: absolute;
   bottom: 0;
   width: 100%;
}

/* Main info box in center */
.container {
   position: absolute;
   width: 80%;
   height: 70vh;
   border: 1px #444 solid;
   top: 15vh;
   left: 10%;
   display: flex;
}

.left-links {
   border: 1px solid red;
   flex-grow: 1;
}
.right-links {
   border: 1px solid red;
   flex-grow: 1;
}
.main-info {
   flex-grow: 5;
}
